.yearsTable th {
  padding: 5px !important;
}

.yearsTable td {
  padding: 5px !important;
}

.yearsTable td button {
  padding: 0px !important;
}

.goalYears {
  max-height: 210px;
  overflow: auto;
}